#game {
  position: relative;
  height: 100%;
  width: 100%;
}
.leftTabBar {
  width: 69.329px;
  /* Rectangle 11: */
  opacity: 0.99;
  background: #FFFFFF;
  border-right: 1px solid #EBEBEB;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.leftTabBar .homeIcon {
  text-align: center;
  margin-top: 47.4637px;
  margin-bottom: 60px;
}
.leftTabBar .homeIcon:hover {
  cursor: pointer;
}
.leftTabBar .tab {
  text-align: center;
  margin-top: 63.996px;
  margin-bottom: 63.996px;
  margin-right: -3.7331px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* 答题: */
  font-family: PingFangSC-Regular;
  font-size: 15.999px;
  color: #CFCFD1;
  letter-spacing: 0;
}
.leftTabBar .tab:hover {
  cursor: pointer;
}
.leftTabBar .tab.active {
  color: #7B87D0;
  border-right: 3.7331px solid #7B87D0;
}
.rightBox {
  padding-left: 106.66px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rightBox .questionBox {
  /* Rectangle: */
  opacity: 0.99;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: 577.5639px;
  padding-bottom: 40px;
}
.rightBox .questionBox .questionBoxHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.rightBox .questionBox .questionBoxHeader .countDown {
  width: 202.1207px;
  height: 120.5258px;
  background: url('../img/curtain.svg') no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  position: relative;
  top: -10.666px;
  left: -42.1307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rightBox .questionBox .questionBoxHeader .countDown .countDownTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10.666px;
}
.rightBox .questionBox .questionBoxHeader .countDown .countDownText {
  /* 10: */
  font-family: PingFangSC-Semibold;
  font-size: 37.331px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-left: 26.665px;
}
.rightBox .questionBox .questionBoxHeader .countDown .remainAudience {
  /* 剩余观众： 66 人: */
  font-family: PingFangSC-Semibold;
  font-size: 15.999px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.rightBox .questionBox .questionNumber {
  margin-left: 12.2659px;
  margin-top: 42.664px;
  /* Rectangle 3: */
  background: #EDC226;
  -webkit-box-shadow: 0 2px 4px 0 rgba(224, 190, 68, 0.5);
  box-shadow: 0 2px 4px 0 rgba(224, 190, 68, 0.5);
  width: 178.6555px;
  height: 38.3976px;
  line-height: 38.3976px;
  text-indent: 63.996px;
  /* 题目59: */
  font-family: STSongti-SC-Bold;
  font-size: 15.999px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 2px 4px rgba(181, 176, 176, 0.5);
}
.rightBox .questionBox .question {
  margin-left: 61.3295px;
  margin-right: 61.3295px;
  margin-top: 5.333px;
}
.rightBox .questionBox .question .topic {
  /* 听说明天考研复试？而且还没有打印成绩单，: */
  font-family: STSongti-SC-Regular;
  font-size: 21.332px;
  color: #000000;
  letter-spacing: 0;
}
.rightBox .questionBox .question .options {
  margin-left: 44.7972px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.rightBox .questionBox .question .options .paragraph {
  width: 45%;
  /* A 考研复试. B 都要加油. C Fl: */
  font-family: STSongti-SC-;
  font-size: 18.1322px;
  color: #000000;
  letter-spacing: 0;
}
.rightBox .questionBox .question .options .highlight {
  color: red;
}
.rightBox .questionBox .question .options .paragraph:nth-child(even) {
  margin-left: 5%;
}
.rightBox .questionBox .questionJump {
  margin-left: 61.3295px;
  margin-top: 60.7962px;
  text-align: right;
}
.rightBox .questionBox .questionJump button:hover {
  cursor: pointer;
}
.rightBox .questionBox .questionJump .closeThisQuestion {
  /* Rectangle 10: */
  border: 1px solid #7B87D0;
  -webkit-box-shadow: 0 2px 15px 0 rgba(146, 142, 142, 0.5);
  box-shadow: 0 2px 15px 0 rgba(146, 142, 142, 0.5);
  border-radius: 3px;
  width: 95.994px;
  height: 34.1312px;
  /* 结束本题: */
  font-family: PingFangSC-Regular;
  font-size: 15.999px;
  color: #7B87D0;
  letter-spacing: 0;
  margin-right: 26.1317px;
}
.rightBox .questionBox .questionJump .nextQuestion {
  /* Rectangle 10: */
  background: #7B87D0;
  -webkit-box-shadow: 0 1.0666px 7.9995px 0 rgba(123, 135, 208, 0.4);
  box-shadow: 0 1.0666px 7.9995px 0 rgba(123, 135, 208, 0.4);
  border-radius: 4.2664px;
  width: 82.6615px;
  height: 34.1312px;
  /* 下一题: */
  font-family: PingFangSC-Regular;
  font-size: 15.999px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-right: 26.1317px;
}
.rightBox .playerBox {
  margin-left: 25.0651px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rightBox .playerBox .score {
  /* 25: */
  font-family: HiraginoSans-W6;
  font-size: 31.998px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: -0.3em;
}
.rightBox .playerBox .name {
  /* 张 凡 凡: */
  font-family: PingFangSC-Regular;
  font-size: 21.332px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.rightBox .playerBox .player {
  width: 298.1147px;
  height: 130.1252px;
  text-align: center;
  line-height: 63.996px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rightBox .playerBox .player .judgeSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.rightBox .playerBox .player .judgeSide .btn-default {
  width: 118.9259px;
  height: 42.1307px;
  /* Rectangle 10: */
  -webkit-box-shadow: 0 1.0666px 7.9995px 0 rgba(146, 142, 142, 0.5);
  box-shadow: 0 1.0666px 7.9995px 0 rgba(146, 142, 142, 0.5);
  border-radius: 4.2664px;
  text-align: center;
  line-height: 42.1307px;
}
.rightBox .playerBox .player .judgeSide .btn-default img {
  margin-top: -4.2664px;
  margin-right: 7.9995px;
}
.rightBox .playerBox .player .judgeSide .btn-default:hover {
  cursor: pointer;
}
.rightBox .playerBox .player .judgeSide .btn-error {
  border: 1px solid #EF6160;
  /* 出局: */
  font-family: PingFangSC-Semibold;
  font-size: 19.1988px;
  color: #EF6160;
  letter-spacing: 0;
}
.rightBox .playerBox .player .judgeSide .btn-success {
  /* Rectangle 10: */
  background-color: rgba(14, 196, 105, 0.925);
  border-radius: 4.2664px;
  border: none;
  /* 晋级: */
  font-family: PingFangSC-Semibold;
  font-size: 19.1988px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.rightBox .playerBox .player:hover {
  cursor: pointer;
}
.rightBox .playerBox .playerSideCommon {
  background-position: 0 0;
  background-size: 100% 100%;
  width: 166.9229px;
  height: 130.1252px;
}
.rightBox .playerBox .player0 .playerSide {
  background: url('../img/bg1.svg') no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 166.9229px;
  height: 130.1252px;
}
.rightBox .playerBox .player1 {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player1 .playerSide {
  background: url('../img/bg2.svg') no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 166.9229px;
  height: 130.1252px;
}
.rightBox .playerBox .player2 {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player2 .playerSide {
  background: url('../img/bg3.svg') no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 166.9229px;
  height: 130.1252px;
}
.rightBox .playerBox .player0.promote .playerSide {
  background-image: url('../img/bg1Success.svg');
}
.rightBox .playerBox .player1.promote {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player1.promote .playerSide {
  background-image: url('../img/bg2Success.svg');
}
.rightBox .playerBox .player2.promote {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player2.promote .playerSide {
  background-image: url('../img/bg3Success.svg');
}
.rightBox .playerBox .player0.out .playerSide {
  background-image: url('../img/bgError.svg');
}
.rightBox .playerBox .player1.out {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player1.out .playerSide {
  background-image: url('../img/bgError.svg');
}
.rightBox .playerBox .player2.out {
  margin-top: 9.0661px;
}
.rightBox .playerBox .player2.out .playerSide {
  background-image: url('../img/bgError.svg');
}
.rankList {
  padding-left: 106.66px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 54.3966px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rankList .rankListLeft {
  margin-right: 140px;
}
.rankList .rankListHeader {
  width: 311.9805px;
  /* 排 名 列 表: */
  font-family: PingFangSC-Semibold;
  font-size: 19.1988px;
  color: #605D5D;
  letter-spacing: 0;
  text-align: center;
}
.rankList .lists {
  width: 311.9805px;
}
.rankList .lists p {
  margin: 0;
}
.rankList .lists .listHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rankList .lists .listHeader .listHeaderItem {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  /* Ranking: */
  font-family: PingFangSC-Semibold;
  font-size: 15.999px;
  color: #FFFFFF;
  letter-spacing: 0;
  height: 60.2629px;
  line-height: 60.2629px;
  /* Rectangle 9: */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #7784CD), color-stop(97%, #959FE4));
  background-image: linear-gradient(90deg, #7784CD 5%, #959FE4 97%);
}
.rankList .lists .listHeader .headerItem0 {
  border-radius: 17.5989px 0 0 0;
}
.rankList .lists .listHeader .headerItem2 {
  border-radius: 0 17.5989px 0 0;
}
.rankList .lists .listItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38.3976px;
  line-height: 38.3976px;
}
.rankList .lists .listItem .listItemContent {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  /* 1st 陈 哲 98: */
  font-family: AndaleMono;
  font-size: 15.999px;
  color: #000000;
  letter-spacing: 0;
}
.rankList .lists .listItem:nth-of-type(even) {
  /* Rectangle: */
  background: #ECECEC;
}
.rankList .lists .listItem:nth-of-type(odd) {
  /* Rectangle: */
  background: #FFFFFF;
}
.rankList .lists .listItem:first-child {
  /* Rectangle: */
  background: #D5EFF9;
}
.rankList .lists .listItem:nth-child(2) {
  /* Rectangle: */
  background: #BBD5F5;
}
.rankList .lists .listItem:nth-child(3) {
  /* Rectangle: */
  background: #D5EFF9;
}
.isOut {
  color: red;
}
.paragraph {
  font-size: 1rem;
  font-weight: 600;
}
.score {
  font-size: 30px;
}
.name {
  font-size: 20px;
}
.icon {
  width: 60px;
  height: 60px;
}
.person_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.person {
  margin: 0 50px;
}
.modal-hightlight {
  color: red;
}
