.loginBox {
  height: 1vh;
}
.animation {
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
}
.logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
.form {
  width: 80%;
  margin: 0 auto;
}
.input {
  outline: none;
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 10px;
  background-color: white;
  box-shadow: 0px 4px 15px -6px #CCC;
}
.label {
  font-size: 15px;
  color: #C6C6C6;
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
}
.hint {
  text-align: center;
  font-size: 15px;
  color: #C6C6C6;
  margin: 10px 0;
}
.btn.btn-large {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  border-radius: 25px;
}
.btn-gray {
  background-color: #CDD5DD;
  border-color: #CDD5DD;
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
}
.btn-gray:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px #CDD5DD;
}
.btn-gray:active {
  background-color: #CDD5DD;
  border-color: #CDD5DD;
}
