.loginBox {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('../img/bgAudience.png') no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
.loginBox p {
  margin: 0;
  text-align: center;
}
.loginBox .loginSuccess {
  /* 登陆成功！: */
  font-family: PingFangSC-Semibold;
  font-size: 29.8648px;
  color: #FF5F1A;
  text-indent: 24px;
  margin-bottom: 50px;
}
.loginBox .ready {
  /* 等待比赛开始: */
  font-family: Arial-BoldMT;
  font-size: 26.665px;
  color: #F5B78F;
  margin-bottom: 32.5313px;
}
.loginBox .nextQuestion {
  /* 请耐心等待下一题…: */
  font-family: PingFangSC-Semibold;
  font-size: 10.666px;
  color: #EA5E21;
  margin-top: 109px;
}
