.loginBox {
  height: 1vh;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.loginBox ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #B7322B;
}
.loginBox :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #B7322B;
}
.loginBox ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #B7322B;
}
.loginBox :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #B7322B;
}
.loginBox .input {
  /* Rectangle 3: */
  /* Rectangle 3: */
  background: transparent;
  border-radius: 4.2664px;
  outline: none;
  display: block;
  border: 1px solid #B7322B;
  color: #B7322B;
  width: 164.7897px;
  height: 31.998px;
  margin: 33px auto 15.999px;
  text-align: center;
}
.loginBox .loginBtn {
  background: transparent;
  border: 1px solid #B7322B;
  color: #B7322B;
  border-radius: 4.2664px;
  width: 164.7897px;
  height: 31.998px;
  margin: 33px auto;
}
.animation {
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  -webkit-transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color, -webkit-transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
}
.logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
.form {
  width: 80%;
  margin: 0 auto;
}
.label {
  font-size: 15px;
  color: #C6C6C6;
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
}
.hint {
  text-align: center;
  font-size: 15px;
  color: #C6C6C6;
  margin: 10px 0;
}
.btn.btn-large {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  border-radius: 25px;
}
.btn-gray {
  background-color: #CDD5DD;
  border-color: #CDD5DD;
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  -webkit-transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color, -webkit-transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
}
.btn-gray:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform -webkit-transform box-shadow background-color;
  -webkit-transition-duration: .3s;
  -webkit-transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: -webkit-transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color;
  transition-property: transform -webkit-transform box-shadow background-color, -webkit-transform -webkit-transform box-shadow background-color;
  transition-duration: .3s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 4px 12px #CDD5DD;
  box-shadow: 0 4px 12px #CDD5DD;
}
.btn-gray:active {
  background-color: #CDD5DD;
  border-color: #CDD5DD;
}
