#question {
  height: 100%;
  overflow: scroll;
  background: url('../img/bgAudience.png') no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  padding: 0 22.9319px;
}
#question input[type="checkbox"],
#question input[type="radio"] {
  visibility: hidden;
}
#question .questionHeader {
  /* 题目: */
  /* 题目: */
  font-family: PingFangSC-Regular;
  font-size: 11.7326px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 40px;
  margin-top: 70px;
}
#question .questionHeader .optionFlag {
  color: #FF5F1A;
}
#question .questionNumber {
  font-family: Arial-Black;
  font-size: 19.1988px;
  color: #FF5F1A;
  letter-spacing: 0;
}
#question .questionOption {
  border-radius: 4.2664px;
  border: 1px solid #EF9868;
  padding: 5.8663px 6.3996px;
}
#question .questionOption label {
  /* B sdjhjsdks: */
  font-size: 10.666px;
  color: #000000;
  letter-spacing: 0;
}
#question .questionOption.active {
  /* B sdjhjsdks: */
  background-color: #F68A5B;
  /* Rectangle 3: */
  -webkit-box-shadow: 0 2px 2px 0 #E8CCAE;
  box-shadow: 0 2px 2px 0 #E8CCAE;
}
#question .questionOption.active label {
  color: #ffffff;
}
#question .nextBox {
  position: fixed;
  right: 22.9319px;
  bottom: 50px;
}
